.gallery {

  margin-top: 50px;
  height: 130px;
  margin-bottom: -130px;

  @media screen and (min-width: 480px) {
    max-width: 280px;
    height: 100px;
     }

  @media screen and (min-width: 768px) {
      max-width: 704px;
      height: 327px;
      margin-bottom: -281px;
    }
  @media screen and (min-width: 1200px) {
  max-width: 1013px;
  height: 422px;
  margin-bottom: -356px;
}
}

.gallery__item {
  
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 100%;  

  position: absolute;
  transform: translateY(-32px);

  border-radius: 24px;

  left: 0;
  right: 0;
  opacity: 0;
  animation-name: myImgAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  &:nth-child(1) {
    animation-delay: 0s;
  }
  &:nth-child(2) {
    animation-delay: 4s;
  }
  &:nth-child(3) {
    animation-delay: 7s;
  }
  @media screen and (min-width: 480px) {
  transform: translateY(-64px);
  
  }

  @media screen and (min-width: 768px) {
    transform: translateY(-98px);
    width: 704px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    transform: translateY(-32px);
    width: 1013px;
    height: 100%;
    margin-right: auto;
      margin-left: auto;
  }

}

@keyframes myImgAnimation {
  0% {
    opacity: 0;
  }

  12.12% {
    opacity: 1;
  }

  35.35% {
    opacity: 1;
  }

  45.45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.section-gallery {
  padding-top: 0;
  
  position: relative;
  
}


.container {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
   
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {

    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
      padding: 0 93px;
  }
}
