.hero {
    padding-top: 62px;
    height: 502px;
}

.section {
outline: 1px solid red;
}

.hero__container {
    position: relative;

    display: flex;
    flex-direction: column;
    // align-items: center;

    height: 440px;
    width: 320px;
}

.hero__title {
    width: 247px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-white;

outline: 1px solid red;
}

.hero__title--passion {
    font-size: 33px;
}

.hero__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 32px;
    gap: 12px;
}

.hero__product-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 108px;
    height: 38px;

    font-weight: 600;
    line-height: 18px;

    color: $color-black;
    border: 2px solid $color-yellow;
    border-radius: 8px;

    cursor: pointer;
}

.hero__about-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    text-align: center;

    color: #F8D24E;

outline: 1px solid red;
}

.hero__filias-list {
    display: none;
    margin-left: auto;
}

.hero__filias-item {
    margin-left: auto;
}

.hero__filias-number {
    // position: absolute;
    width: 52px;
    height: 56px;
    left: 1132px;
    top: 126px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;

outline: 1px solid red;
}

.hero__filias-type {
    // position: absolute;
    width: 79px;
    height: 17px;
    left: 1105px;
    top: 279px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #FCFCFC;

outline: 1px solid red;
}

.hero__icecream-dish {
    display: none;
}

.hero__info {
    display: none;
    width: 200px;
    height: 80px;
    left: 257px;
    top: 441px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */


    color: #FCFCFC;

outline: 1px solid red;
}

.hero__icon {
    display: none;
    color: #ffffff;
    fill: #ffffff;
outline: 1px solid red;
}

.hero__dots {
    position: absolute;
    bottom: 0;
        left: 50%;
            transform: translateX(-50%);

    width: 320px;
}

.hero__icecream {
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 177px;
}