.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);  
    // opacity: 1;
    transition: opacity $time-duration $timing-function;
    
    &.is-hidden {
        // opacity: 0;
        pointer-events: none;
        transition: opacity $time-duration $timing-function;
    }
}

.modal {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // // transform: translate(-50%, -50%);

    width: 280px;
    overflow-y: auto;

    background-color: $color-white;
    border: 2px solid $color-yellow;
    border-radius: 10px;

    padding: 28px 20px 28px 20px;
}

.btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: $color-white;
}

.btn-close__icone {
    width: 11px;
    height: 11px;
    color: $color-black;
}


.modal-head {
    font-family: Seymour One;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    color: $color-black;
    text-align: center;
    width: 145px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.modal__img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    // margin-bottom: 30px;
}

.modal-card {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;    
}

.card_item {
    list-style: none;
}

.modal-head---small {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    color: $color-black;
    text-align: center;
    margin-bottom: 24px;
}

.modal-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    & p {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04px;
        margin-bottom: 11px;
    }
}

.modal-list__quantity {
    text-align: end;
}
    

.modal-form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}


// .button--modal {
//     display: block;
//     padding-left: 52px;
//     padding-right: 52px;
//     margin-top: 30px;
//     margin-bottom: 40px;
//     margin-left: auto;
//     margin-right: auto;

//     transition: cursor 250ms $timingFunction;

//     &:focus,
//     &:hover {
//         cursor: pointer;
//     }
// }