@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Seymour One', sans-serif;
  font-size: 14px;
  color: $color-black;
  background-color: $color-green;
}

a,
button {
  cursor: url(/src/images/cursor/vector.png), pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visially-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backgroung-ice-cream {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // Mobile screen
  background-image: url(../images/backgroud-mobile.jpg);
  // retina mobile screen
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/backgroud-mobile@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: $tablet) {
    background-image: url(../images/backgroud-tablet.jpg);
    // retina tablet screen
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/backgroud-tablet@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: $desktop) {
    background-image: url(../images/backgroud-desktop.jpg);
    // retina desktop screen
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/backgroud-desktop@2x.jpg);
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  max-width: $mobile;
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 16px;
  }
}

// Стилі кнопок
// btn - базовий клас ДЛЯ КНОПОК ТА ПОСИЛАНЬ
.btn {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-decoration: none;
  text-align: center;
  color: $color-deep-black;

  border-radius: 10px;

  &:focus {
    color: $color-white;
    outline-style: none;
  }
  & svg {
    fill: currentColor;
    margin-left: 4px;
  }
}

.btn--fill {
  @extend .btn;

  border: none;
  background-color: $color-yellow;

  transition: color $time-duration $timing-function,
    background-color $time-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $color-green-for-btn;
  }
  &:disabled {
    background-color: $color-disabled-btn;
  }
}

// для кнопок "Submit", "Open map"
.submit-btn {
  @extend .btn--fill;
  padding-left: 34px;
  padding-right: 34px;
  @media screen and (max-width: $tablet) {
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.buy-now-btn {
  @extend .btn--fill;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  padding-left: 36px;
  padding-right: 36px;
}

.read-more__button {
  @extend .btn--fill;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  padding-left: 34px;
  padding-right: 34px;
}

.locations-btn {
  @extend .btn--fill;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  padding-left: 39px;
  padding-right: 39px;
}

.btn--stroke {
  @extend .btn;
  background-color: transparent;
  border: 2px solid $color-yellow;

  transition: color $time-duration $timing-function, border-color $time-duration $timing-function;
  &:hover,
  &:focus {
    border-color: $color-green-for-btn;
  }
  &:disabled {
    border-color: $color-disabled-btn;
  }
}

.hero__product-link {
  @extend .btn--stroke;

  width: 134px;
  padding-left: 36px;
  padding-right: 36px;
  @media screen and (max-width: $desktop) {
    width: 108px;
    padding: 11px 26px;
    font-size: 12px;
    line-height: calc(15 / 12);
    border-radius: 8px;
  }
}

.franchise-btn {
  @extend .btn--stroke;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
}

.hero__about-link {
  @extend .btn;
  padding: 12px 22px;
  background-color: transparent;
  border-color: transparent;
  color: $color-yellow;
  text-decoration: underline;
  line-height: calc(17 / 14);

  transition: color $time-duration $timing-function;
  @media screen and (max-width: $desktop) {
    font-size: 12px;
    line-height: calc(15 / 12);
  }

  &:hover {
    color: $color-green-for-btn;
  }

  &:disabled {
    color: $color-disabled-btn;
  }
}

// Кнопка Home
.icon-home {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 46px;
  height: 46px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url('../images/home-icon.png');
  background-size: contain;
}

// Стилі бекдропа та модалки

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity $time-duration $timing-function, visibility $time-duration $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-height: 100%;
  overflow-y: auto;

  background-color: $color-white;

  border: 2px solid $color-yellow;
  border-radius: 10px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform $time-duration $timing-function, opacity $time-duration $timing-function;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
  }

  @media screen and (max-width: 767px) {
    width: 280px;
  }

  @media screen and (min-width: $tablet) {
    width: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
  border: none;

  &:hover > svg,
  &:focus > svg {
    fill: $color-green-for-btn;
    transition: fill $time-duration $timing-function;
  }
}
