$color-yellow: #F8D24E;

$color-yellow-light: #EFD478;
$color-white: #FCFCFC;
$color-black: #131313;
$color-green: #84A178;

$color-salad: #AEC6A5;
$color-orange: #D6936D;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-duration: 250ms;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
