<section class="section advantages">
  <div class="container">
    <h2 class="visially-hidden">statistics</h2>
    <ul class="statistic">
      <li class="statistic--section">
        <h3 class="statistic--section--amount">721</h3>
        <p class="statistic--section--explanation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="statistic--section">
        <h3 class="statistic--section--amount">16kg</h3>
        <p class="statistic--section--explanation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="statistic--section">
        <h3 class="statistic--section--amount">84</h3>
        <p class="statistic--section--explanation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
