<header class="section">
        <!-- Header -->

      <div class="header-nav container">
        <!-- Main navigation -->
        <nav class="nav-menu">
          <a href="index.html" class="logo">
<picture>
                    <source
                      srcset="../src/images/logo/logo-desk.png 1x, ../src/images/logo/logo-desk-2x.png 2x"
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="../src/images/logo/logo-tab.png 1x, ../src/images/logo/logo-tab-2x.png 2x"
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="../src/images/logo/logo-mob.png 1x, ../src/images/logo/logo-mob-2x.png 2x"
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../src/images/logo/logo-mob.png"
                      alt="Logo Company"
                      class="photo"
                      width="48"
                      height="44"
                    />
                  </picture>
          </a>

          <button
            type="button"
            class="button-mobile is-open"
            aria-expanded="false"
            data-menu-button
          >
            <svg
              class="button-icon-mob"
              width="20"
              height="20"
              aria-label="Перемикач мобільного меню"
            >
              <use class="button-mobile__menu" href="../src/images/icons.svg#icon-menu"></use>
              <use class="button-mobile__cross" href="../src/images/icons.svg#icon-close"></use>
            </svg>
          </button>
          <div class="menu-container" id="menu-container" data-menu>
            <ul class="nav-list">
              <li class="nav-list__item">
                <a href="./index.html" class="nav-list__link studio current">Home</a>
              </li>
              <li class="nav-list__item">
                <a href="./index.html" class="nav-list__link">How it’s made?</a>
              </li>
              <li class="nav-list__item">
                <a href="./index.html" class="nav-list__link">Our products</a>
              </li>
              <li class="nav-list__item">
                <a href="./index.html" class="nav-list__link">Contact</a>
              </li>
            </ul>
<div class="nav-menu__btn-in">
            <button type="button" class="nav-menu__btn">
              <span class="nav-menu__btn-text">Buy now</span>
              <svg width="12" height="12">
              <use class="button-mobile__more" href="../src/images/icons.svg#icon-more"></use>
            </svg>
             </button>
             </div>
</div>
<div class="nav-menu__btn-out">
             <button type="button" class="nav-menu__btn">
              <span class="nav-menu__btn-text">Buy now</span>
              <svg width="12" height="12">
              <use class="button-mobile__more" href="../src/images/icons.svg#icon-more"></use>
            </svg>
             </button>
          </div>
        </nav>

      </div>
    

</header>