<section class="hero section">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>

    <a href="#products" class="hero__product-link">Products</a>
    <a href="#about" class="hero__about-link">How it’s made?</a>

    <ul class="hero__filias-list">
      <li class="hero__filias-item">
        <p class="hero__filias-number">16</p>
        <p class="hero__filias-type">cafes</p>
      </li>
      <li class="hero__filias-item">
        <p class="hero__filias-number">23</p>
        <p class="hero__filias-type">food trucks</p>
      </li>
    </ul>

    <p class="hero__info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>

    <svg class="hero__icon">
      <use hfref="./images/icons.svg#icon-more"></use>
    </svg>

    <picture>
      <source
      media="(min-width: 1200px)"
      srcset="./images/hero/icecream-dish_tabl@1x.png, ./images/hero/icecream-dish_tabl@2x.png 2x"
      type="image/png">

      <source
      media="(min-width: 768px)"
      srcset="./images/hero/icecream-dish_tabl@1x.png, ./images/hero/icecream-dish_tabl@2x.png 2x"
      type="image/png">

      <img
      class="img"
      src="./images/hero/icecream-dish_tabl@1x.png"
      alt="dots">
    </picture>

    <picture>
      <source
      media="(min-width: 1200px)"
      srcset="./images/hero/dots_desk@1x.png 1x, ./images/hero/dots_desk@2x.png 2x"
      type="image/png">

      <source
      media="(min-width: 768px)"
      srcset="./images/hero/dots_tabl@1x.png 1x, ./images/hero/dots_tabl@2x.png 2x"
      type="image/png">

      <source
      media="(min-width: 450px)"
      srcset="./images/hero/dots_mob@1x.png 1x, ./images/hero/dots_mob@2x.png 2x"
      type="image/png">

      <img
      class="img"
      src="./images/hero/dots_mob@1x.png"
      alt="dots">
    </picture>

    <picture>
      <source
      media="(min-width: 1200px)"
      srcset="./images/hero/icecream_desk@1x.png 1x, ./images/hero/icecream_desk@2x.png 2x"
      type="image/png">

      <source
      media="(min-width: 768px)"
      srcset="./images/hero/icecream_tabl@1x.png 1x, ./images/hero/icecream_tabl@2x.png 2x"
      type="image/png">

      <source
      media="(min-width: 450px)"
      srcset="./images/hero/icecream_mob@1x.png 1x, ./images/hero/icecream_mob@2x.png 2x"
      type="image/png">

      <img
      class="img"
      src="./images/hero/icecream_mob@1x.png"
      alt="icecream">
    </picture>
  </div>
</section>