<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close class="btn-close">
      <svg class="btn-close_icone">
        <use href="../images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal_head">Chololate icecream</h2>
    <img class="modal_img"
    srcset="./images/ingredients/ingr.png 1x, ./images/ingredients/ingrx2.png 2x"
    src="./images/ingredients/ingr.png" alt="icecream" width="132" height="auto">

    <div class="modal_card">
      <ul>
        <li class="card_item">
          <img
          srcset="./images/ingredients/card1.png 1x, ./images/ingredients/card1x2.png 2x"
          src="./images/ingredients/card1.png" alt="calories" width="53" height="auto">
        </li>

        <li>
          <img
          srcset="./images/ingredients/card2.png 1x, ./images/ingredients/card2x2.png 2x"
          src="./images/ingredients/card2.png" alt="protein" width="53" height="auto">
        </li>

        <li>
          <img
          srcset="./images/ingredients/card3.png 1x, ./images/ingredients/card3x2.png 2x"
          src="./images/ingredients/card3.png" alt="fats" width="53" height="auto">
        </li>

        <li>
          <img
          srcset="./images/ingredients/card4.png 1x, ./images/ingredients/card4x2.png 2x"
          src="./images/ingredients/card4.png" alt="carbs" width="53" height="auto">
    </div>
        </li>
      </ul>
    
    <h3>Ingredients</h3>
    <div class="modal_list">
      <div>
        <p>Milk</p>
        <p>Belgian chocolate</p>
        <p>Cream</p>
        <p>Cocoa powder</p>
        <p>Sugar</p>
        <p>Vanilla sugar</p>
      </div>

      <div>
        <p>100ml</p>
        <p>20g</p>
        <p>150 ml</p>
        <p>30g</p>
        <p>40g</p>
        <p>10g</p>
      </div>
    </div>

  </div>

  <form class="" name="" autocomplete="off">
    
  </form>
</div>
