<div class="backdrop is-hidden" data-modal>
  <div class="product-modal">
		<p class="product-modal__title">Buy now</p>
		<ul class="list product-modal__gallary">
		 <li class="product-modal__card cream">
		  <div class="product-modal__item">
			 <div class="product-modal__bg ice-cream">
				<div>
					<img class="product-modal__photo" srcset="./images/Product-card/img1_132.jpg 1x, ./images/Product-card/img1_264.jpg 2x" src="./images/Product-card/img1_264.jpg" alt="ice cream" width="132" height="132">
				</div>
			 </div>
				
		  </div>
		  <div>
			<p class="product-modal__name">ice cream</p>
		  </div>
		 
		 </li>
  
		 <li class="product-modal__card coffee">
		  <div class="product-modal__item">
			 <div class="product-modal__bg ice-coffee">
				<img class="product-modal__photo" srcset="./images/Product-card/img2_132.jpg 1x, ./images/Product-card/img2_264.jpg 2x" src="./images/Product-card/img2_264.jpg" alt="ice coffee" width="132" height="132">
			 </div>
				 
			 </div>
		  <p class="product-modal__name">ice coffee</p>
		 </li>
  
		 <li class="product-modal__card milkshake">
		  <div class="product-modal__item">
			 <div class="product-modal__bg milk">
				<img class="product-modal__photo" srcset="./images/Product-card/img3_132.jpg 1x, ./images/Product-card/img3_264.jpg 2x" src="./images/Product-card/img3_264.jpg" alt="milkshake" width="132" height="132">
			 </div>
			
		  </div>
		  <p class="product-modal__name">milkshake</p>
		 </li>
		</ul>
  <form class="product-form" name="form" autocomplete="off">
	 <div class="product-form__block">
				
				<input type="text" name="name" id="name" class="product-form__input" placeholder="Name"/>
	 </div>
  
	 <div class="product-form__block">
		<input type="tel" ame="tel" id="tel" class="product-form__input" placeholder="Phone"/>
		
	 </div>
  
	 <div class="product-form__block">
				<textarea name="comment" id="comment" rows="8" placeholder="Comment" class="product-form__text"></textarea>
	 </div>
  
	 <button type="submit" class="product-form__submit">Submit</button>
  </form>
 
	<svg class="product-modal__close" width="20" height="20">
		<use href="./images/icons.svg#icon-clarity_close-line"></use>
	</svg>
  
	
  
  </div>
</div>
